{% comment %}
<!-- Author windsor@1r - About page -->
<!-- /templates/page.about.liquid -->
{% endcomment %}
<div class="page-wrapper about-page">

    <div class="content-wrapper">
		
		<div class="content-box">
		    <h1 class="page-title">{{ page.title }}</h1>
		    {{- page.content -}}
		</div>

	</div>
	{%- section 'page-about' -%}

</div>