{% comment %}
	<!-- Author - @Brad -->
{% endcomment %}

<div class="page-wrapper page-utility page-retailers">
	<div class="content-wrapper">
		{% if linklists.utility-sidebar.links.size > 0 %}
			<nav class="utility-menu">
				{% for link in linklists.utility-sidebar.links %}
					{% if link.active %}<div class="selected-link">{{ link.title }}</div>{% endif %}
				{% endfor %}

				<ul>
					{% for link in linklists.utility-sidebar.links %}
						<li><a href="{{ link.url }}" {% if link.active %}class="active"{% endif %}>{{ link.title }}</a></li>
					{% endfor %}
				</ul>
			</nav>
		{% endif %}

		<div class="page-content">
			<h1 class="page-title">{{ page.title }}</h1>

			<div class="page-content-wrapper">
				{%- section 'page-retailers-north-america' -%}
				{%- section 'page-retailers-asia' -%}

				{% comment %}
				{%- section 'page-retailers-south-america' -%}
				{%- section 'page-retailers-europe' -%}
				{%- section 'page-retailers-africa' -%}
				{%- section 'page-retailers-oceania' -%}
				{% endcomment %}
			</div>
		</div>
	</div>
</div>